:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a80d0d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bisecpage{
  font-size: large;
  font-weight: bolder;
  color: aliceblue;
}

.dropdown{
  margin-top: 10px;
  margin-left: 30px;
  font-weight: bolder;
}

.Navtop{
  font-size: large;
  font-weight: bolder;
  color: aliceblue;
}

.navbar-static-top{
  background-color: #000000;
}
.navbar-nav{
  background-color: #000000;
}
.navside{
  align-items:left;
}
nav {
  padding: 10px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: #6c757d;
}

nav ul{
  font-size: var(--fontsize-nav);
  
  list-style: none;
}
nav ul li {
  margin: 40px;
}
.proname{
  font-size: large;
  color: aliceblue;
  font-weight: bolder;
  text-align: right;
  margin-top: 15px;
}